.btn{
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    margin: 10px;
    background-color: #0b032d;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.name{
    margin: 20px;
}